#outline{
    border: 1px solid black;
}

#flushed{
    border: none;
    border-bottom: 1px solid black;
}

#filled{
    background-color: rgb(228, 220, 220);
}
.eye{
    position: absolute;
    top: 8px;
    left: 29%;
    width: 30px;
    cursor: pointer;
}